{% extends 'base.html' %}
{% load static %}
{% load markdown_filter %}
{% block title %}Memo List{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3 sticky-sidebar">
        <div class="list-group">
            {% for memo in memos %}
            <a href="{% url 'memo:memo_list' memo.pk %}" class="list-group-item list-group-item-action memo-link" data-memo-id="{{ memo.id }}">
                {{ memo.title }}
                <div>
                    <a href="{% url 'memo:memo_update' memo.pk %}">更新</a> |
                    <a href="{% url 'memo:memo_delete' memo.pk %}">削除</a>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-9 col-12 main-content">
        {% if selected_memo %}
            <div class="selected-memo-detail">
                <h3>タイトル: {{ selected_memo.title }}</h3>
                <hr>
                <p>{{ selected_memo.content|markdown }}</p>
            </div>
        {% else %}
            <p>メモを選択してください。</p>
        {% endif %}
        <a href="{% url 'memo:memo_create' %}" class="btn btn-primary">新しいメモを作成</a>
    </div>
</div>
{% endblock %}

